openai
fastapi
sqlalchemy
typing
psycopg2-binary
uvicorn
transformers
pydantic
scikit-learn
scipy
joblib
python-dotenv




#------------------------

# using langchain v0.3
langchain>=0.3,<0.4
langchain-community>=0.3,<0.4
langchain-text-splitters>=0.3,<0.4
langchain-core>=0.3,<0.4
#langchain-experimental>=0.3,<0.4
langchain-chroma>=0.1.4,<0.2
langchain-mistralai>=0.2,<0.3
langchain-ollama>=0.2,<0.3
langchain-openai>=0.2,<0.3

#------------------------


pyjwt
python-jose[cryptography]
passlib[bcrypt]


tiktoken
sumy
packaging
atomicwrites
pillow
iniconfig
pluggy
py
toml
gotrue
google-generativeai
playwright
beautifulsoup4
youtube-search-python
